<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Not found</title>
     {% load static %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
     <link rel="stylesheet" href="{%static 'css/style.css'%}">
     <link rel="stylesheet" href="{%static 'css/fontawesome.min.css'%}">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
      <div>
          <div class="container">
              <div class="title">
                  <h1>Sorry Minhaj  <i class="far fa-sad-tear fast-flicker" ></i></h1>



                  <div class="wrapper">
                       <div class="typing-demo">
                           Not Found Where is your girlfriend  <i class="far fa-sad-cry"></i>
                       </div>
                  </div>
        </div>

          </div>

      </div>
     <script src="{%static 'Js/bootstrap.bundle.min.js'%}"></script>
</body>
</html>